:host {
    display: flex;
}

.label {
    display: inline-block;
    width: 14em;
    color: var(--text-color);
}

.yes .icon {
    color: var(--success-color);
}

.no .icon {
    color: var(--error-color);
}

.unknown .icon,
.partial .icon {
    color: var(--warning-color);
}
