:host {
    display: flex;
}

.label {
    display: inline-block;
    width: 14em;
    flex: 0 0 auto;
    color: var(--text-color);
}

@media (max-width: 800px) {
    :host {
        flex-direction: column;
    }

    .label {
        font-size: 0.8em;
        color: var(--headline-color);
    }
}

.yes .icon {
    color: var(--success-color);
}

.no .icon {
    color: var(--error-color);
}

.unknown .icon,
.partial .icon {
    color: var(--warning-color);
}
