:host {
    display: block;
    overflow-x: auto;
}

table {
    font-size: 12pt;

    th:first-child {
        min-width: 8em;
    }
}

.fail,
.unsupported,
.disabled,
.unknown {
    opacity: 0.25;
    color: var(--text-color);
}

.lowest-value {
    color: var(--success-color);
}

.highest-value {
    color: var(--error-color);
}
