:host {
    display: block;
    overflow-x: auto;
}

table {
    font-size: 80%;
}

.fail,
.unknown {
    opacity: 0.25;
    color: var(--text-color);
}

.lowest-value {
    color: var(--success-color);
}

.highest-value {
    color: var(--error-color);
}
