.section-collapsible {
    transition:
        max-height 0.3s ease,
        opacity 0.3s ease;
    overflow: hidden;
    max-height: 10000px;
    opacity: 1;

    &.collapsed {
        max-height: 0;
        opacity: 0;
        pointer-events: none;
    }
}
